:host{
    background-color: var(--color-sec-bg);
    display: block;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lines);
    position: relative;
}
.header-left{
    display: flex;
    align-items: center;
    .logo{
        padding: 0 1.5rem;
        height: 25px;
        transition: margin-left .3s;
    }
    .logo.sidebarOpened{
        margin-left: -196px;
    }
    .mobile-logo{
        display: none;
    }
    .line{
        width: 1px;
        height: 5rem;
        background-color: var(--lines);
    }
    button{
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        h1{
            padding: 0 1.5rem;
            position: relative;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 700;
        }
        img{
            display: none;
        }
    }
}
.header-right{
    display: flex;
    align-items: center;
    .edit-delete-container{
        position:absolute;
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg);
        border-radius: 8px;
        right: 2.5rem;
        bottom: 0;
        transform: translateY(90%);
        z-index: 10;
        button{
            background: transparent;
            text-align: start;
            font-family: "Plus Jakarta Sans", sans-serif;
            border: none;
            padding: 1em;
            cursor: pointer;
            white-space: nowrap;
            transition: background-color .3s;
            &:hover{
                background-color: rgba(99,95,199,.25);
            }
            &:first-child{
                border-radius: 8px 8px 0 0;
            }
            &:last-child{
                border-radius: 0 0 8px 8px;
            }
        }
        .edit-board{
            color: #828FA3;
        }
        .delete-board{
            color: #EA5555;
        }
    }

}

@media screen and (max-width: 575px) {
    :host{
        height: 3rem;
    }

    .header-left{
        .logo{
            display: none!important;
        }
        .mobile-logo{
            display: block;
            padding: 0 1rem;
        }
        .line{
            height: 3rem;
            display: none;
        }
        button{
            h1{
                padding: 0;
            }
            img{
                display:block;
            }
        }
    }

    .header-right{
        button:first-child{
            padding:  0 1em .5em 1em;
            span{
                display: none;
            }
        }
        .btn-vertical-dots{
            img{
                height: 1rem;
                padding: 0 1rem;
            }
        }
        .edit-delete-container{
            right: 1.5rem;
        }
    }

}

.user-avatar-circle {
    width: 35px; /* Ancho del círculo */
    height: 35px; /* Altura del círculo */
    border-radius: 50%; /* Borde redondeado para formar un círculo */
    overflow: hidden; /* Oculta cualquier contenido fuera del círculo */
    margin-left: 10px; /* Espacio entre el último botón y el círculo */
    margin-right: 20px;
    cursor: pointer;
}

.user-avatar-circle img {
    display: block;
    width: 100%; /* Ajusta la imagen al tamaño del círculo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Asegura que la imagen sea redonda */
}

.viewer {
    display: flex; /* Cambia el display a flex para alinear los span horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.viewer span {
    height: 30px;
    width: 30px;
    background-color: rgb(28, 117, 219);
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex; /* Alinea el contenido dentro del span */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    font-weight: bold;
    color: #fff;
    padding: 2px;
    margin-right: -15px; /* Espacio entre cada span, excepto el último */
}

// .viewer span:nth-child(3) {
//     margin-left: auto; /* Coloca el tercer span a la derecha */
//     margin-right: 0; /* No hay espacio a la derecha del tercer span */
// }
