<div class="container register">
    <div class="row">
        <div class="register-left">
            <img src="https://static.vecteezy.com/system/resources/previews/027/312/306/non_2x/portrait-of-a-dj-with-headphone-isolated-essential-workers-avatar-icons-characters-for-social-media-and-networking-user-profile-website-and-app-3d-render-illustration-png.png" alt=""/>
            <h3>Welcome</h3>
            <p>{{first_name}} {{last_name}}<br>
                {{email}}<br>
                {{phone_number}}<br>
                Rol {{rol_name}}</p>
            <input type="submit" name="" value="Log Out" (click)="logOut()"/><br/>
        </div>     
    </div>
</div>
