:host{
    display: block;
    position: fixed;
    z-index: 10;
    width: 90%;
    height: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background: var(--color-sec-bg);
    padding: 2rem;
    border-radius: 6px;
    max-height: 90%;
    overflow: auto;
    scrollbar-color: #635FC7 transparent;
    scrollbar-width: thin;
    &::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #635FC7;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-corner{
        background: transparent;
    }
    h4{
        padding-bottom: 1.5rem;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    span{
        .title-input{
            margin-bottom: 1rem;
        }
    }
    .columns-container{
        .column{
            display: flex;
            justify-content: space-between;
            input{
                width: 100%;
                margin-bottom: .5rem;
            }
            button{
                background-color: transparent;
                border: none;
                padding: 1rem 0 1rem 1rem;
                cursor: pointer;
                &:hover{
                    svg{
                        g{
                            fill: #EA5555;
                        }
                    }
                }
                svg{
                    g{
                        transition: fill .3s;
                    }
                }
            }
        }
    }
    .submit{
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 575px) {
    :host{
        width: 90%;
    }
}


//*SETTINGS SCSS
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';
/* colors */
$purple: #635FC7;
$red: #FF4A53;
$dark: #333;

$accent: $purple;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;


/* tab setting */
$tab-count: 3; //*ESTA ES LA CANTIDAD DE PESTAÑAS QUE EL SLIDER SE MOVERA
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count*250px},
  small: #{$tab-count*150px}
);


/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {
    
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}


h1 {
    text-align: center;
    color: $accent;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0;
  }

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 5px;
  width: 100%;
  height: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: #{$tab-count * 60px};
  input[name="tab-control"] {
    display: none;
  }
  
  .content section h2,
  ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: $accent;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    
    li {
      box-sizing: border-box;
      flex: 1;
      width: #{100%/$tab-count};
      padding: 0 10px;
      text-align: center;
      
      label {
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        //@include user-select(none);
        
        br {
          display: none;
        }
        
        svg {
          fill: $secondary;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out;
        }
        
        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);
          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }
  
  .slider {
    position: relative;
    width: #{100%/$tab-count};
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;     
    }

  }
  
  .content {
    margin-top: 30px;
    
    section {
      display: none;
      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;
      
      h2 {
        color: $accent;
        display: none;
        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }
  
  input[name="tab-control"] {
    @include tabs {
      > label {
        cursor: default;
        color: $accent;
        
        svg {
          fill: $accent;
        }
        
        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;
      
      br {
        display: initial;
      }
      
      svg {
        height: 1.5em;
      }
    }
  }
  
  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;
      
      span {
        display: none;
      }
    }
    
    .slider {
      display: none;
    }
    
    .content {
      margin-top: 20px; 
      section h2 {
        display: block;
      }
    }
  }
}

.pill {
  display: inline-block;
  width:  auto;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap; /* Evita que el texto se envuelva */

}

.active {
  background-color: #28a745; /* Verde */
  color: white;
}

.inactive {
  background-color: #dc3545; /* Rojo suave */
  color: white;
}

//*Card Users
/* Estilos para el contenedor de la tabla */
section {
  padding: 20px;
  background-color: #f9f9f9;
}

/* Estilos para la tabla */
.data-config-header {
  width: 100%;
  margin-bottom: 20px;
}

/* Estilos para la cabecera de la tabla */
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.p-input-icon-left {
  display: flex;
  align-items: center;
}

.p-input-icon-left input {
  width: 250px;
}

/* Estilos para las columnas de la tabla */
th, td {
  padding: 10px;
  text-align: left;
}

th p-sortIcon {
  margin-left: 10px;
}

/* Estilos para el cuerpo de la tabla */
.p-selectable-row {
  cursor: pointer;
}

.p-selectable-row:hover {
  background-color: #f1f1f1;
}

/* Estilos para el paginador */
.ui-paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilos para las acciones */
.actions {
  display: flex;
  justify-content: space-around;
}

/* Ajustar el tamaño de las columnas */
th, td {
  min-width: 100px;
}

th pSortableColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

